# LOGSYS XC6SLX9-2TQG144C Demo Board FPGA
# VccAUX
CONFIG VCCAUX=3.3;

# 50 MHz clock input
NET clk50M LOC=P55 | IOSTANDARD=LVCMOS33 | TNM_NET=tnm_clk50M;
TIMESPEC TS_clk50M = PERIOD tnm_clk50M 50000 kHz;

# Reset button (active low)
NET rstn  LOC=P67 | IOSTANDARD=LVCMOS33 | PULLUP | TIG;

# CPLD with LEDs and numeric display
NET cpld_jtagen  LOC=P82  | IOSTANDARD=LVCMOS33;
NET cpld_rstn    LOC=P74  | IOSTANDARD=LVCMOS33;
NET cpld_clk     LOC=P78  | IOSTANDARD=LVCMOS33;
NET cpld_load    LOC=P80  | IOSTANDARD=LVCMOS33;
NET cpld_mosi    LOC=P81  | IOSTANDARD=LVCMOS33;

# PS/2 interface
NET ps2_d  LOC=P87 | PULLUP | IOSTANDARD=LVCMOS33; # Second port: P84
NET ps2_c  LOC=P88 | PULLUP | IOSTANDARD=LVCMOS33; # Second port: P85

# VGA output
NET vga_hsync     LOC=P92  | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_vsync     LOC=P93  | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_blue<1>   LOC=P97  | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_blue<0>   LOC=P98  | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_green<1>  LOC=P99  | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_green<0>  LOC=P100 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_red<1>    LOC=P101 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;
NET vga_red<0>    LOC=P102 | DRIVE=8 | SLEW=FAST | IOSTANDARD=LVCMOS33;

# Audio output
NET speaker  LOC=P83 | DRIVE=4 | SLEW=FAST | IOSTANDARD=LVCMOS33;
